body{
    /* background-color:dimgrey; */
    background-image:url(papel.avif);
    /*O que caralhos eu faço agora?
    1 adição de imagem (alterado)
    *2 repetição da imagem (retirado)
    3 posição: centro
    4 ?????? não tenho ideia
    5 formatação(alinhação) de texto*/
}


.login {
    float: left;
    height: 200px;
    /* margin-left: 45%; */
    /*como não tem como arrumar a img já que não
    se encaixa como texto arrumamos a margem*/
    border-radius: 100%;
    display: inline;

    /*o arredondamento de borda tbm funciona em img's*/

}


/* header{
    text-align: center;
} */

h1{
     margin-top: 60px;
    margin-left: 30%;
    color:black;
}


nav{ 
    margin-top: 10%;
    background-color: darkslategrey;
    /* A tag nav remete a navegação dentro do site ou 
    abrindo para um site diferente */
    /* background-color: brown; */
}


nav ul li{
    background-color: blanchedalmond;
    display:inline-block;
    /* border-radius: 40%;  */
}


 /* caso tenha mais de uma img coloque a tag do lugar dps img
    ex:
    head img{}
        
    * Em caso de duas ou mais img/tag na mesma tag para esilizar adicione "classes=" no 
    HTML e quando voltar ao style coloque ".nomedaclasse" */


.menu{
    display: inline-block;
    

}

.menu a{
    text-decoration: none;
}

h2{
    text-align: left;/*alinhamento de texto*/
    color:darkslateblue;/*cor do h2 (titulo secundário)*/
 }


p{
    width: 45%;
    text-align: left;
    color:goldenrod;/*cor do p (parágrafo) */
}


ul{
    text-align: left;
    color:lightskyblue;/*cor do ul(lista) */
}


a{
    color:rgb(80, 24, 133);/* cor do a(link )*/
}

.menu a:hover{
    text-decoration: none;
    color: blue;
    background-color: brown ;
    font-size: 20px;
}
/* houver= passar o mouse em cima */


a:hover{
    color: blueviolet;
    /* font-size: 30px; */
}


footer{
    background-color: aquamarine;
    border-top: solid 5px green;
    text-align: center;
}


.rodapé{
    height: 150px;
    margin-top: 7px;
    border-radius: 100%;
}

/* "border" = borda
    Podem ser escolhidos cor, tamanho e arredondamento(radius)
    com "px" no final sinalizado os pixels


    essa tag pode ser resumida de forma a executar 3 cod em 1 como:

    border: solid 10px blueviolet
    

    (Apenas algumas tags fazem isso)*/



    /* "font-family:" é usado para mudar a fonte
      são usadas virgulas para segundas, terceiras e quartas opções
                 

        caso a pessoa não á tenha no computador
          recomendado usar: "fonts.google.com" para ver fonts online


    *Ícone do canto

     HTML: Dentro da tag "head"

     CSS: No elemento desejado ou em "body" para o site inteiro*/