body{
    background:peachpuff;
    font-size: medium;
    line-height: 1,5;

    }


.introdução{
    background-color:lightcoral;
    border-radius: 10px;
    /* background-image:url(papel.avif); */
    /*O que caralhos eu faço agora?
    1 adição de imagem (alterado)
    *2 repetição da imagem (retirado)
    3 posição: centro
    4 ?????? não tenho ideia
    5 formatação(alinhação) de texto*/
}


.login {
    float: left;
    height: 190px;
    margin-left: 10px;
    margin-top: 10px;
    /*como não tem como arrumar a img já que não
    se encaixa como texto arrumamos a margem*/
    border-radius: 100%;
    display: inline-flex;
    /*o arredondamento de borda tbm funciona em img's*/

}

/* "border" = borda
    Podem ser escolhidos cor, tamanho e arredondamento(radius)
    com "px" no final sinalizado os pixels


    essa tag pode ser resumida de forma a executar 3 cod em 1 como:

    border: solid 10px blueviolet
    

    (Apenas algumas tags fazem isso)*/


h1{
    display: inline-flex;
    margin-top: 80px;
    margin-left: 30px;
    font:italic;
    font-family:url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
    /* font-family: 'Playfair Display', serif; */
    font-size: 40px;
    text-align: left;
    color:lavenderblush;
}

/* "font-family:" é usado para mudar a fonte
      são usadas virgulas para segundas, terceiras e quartas opções
                 

        caso a pessoa não á tenha no computador
          recomendado usar: "fonts.google.com" para ver fonts online


    *Ícone do canto

         HTML: Dentro da tag "head"

        CSS: No elemento desejado ou em "body" para o site inteiro
*/


nav{ 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    background-size: 40px;
    background-color: pink;
    margin-top: 70px;
}

    /* A tag nav remete a navegação dentro do site ou 
    abrindo para um site diferente */


nav ul li a{
    display:flex;
    padding-left: 20%;
    /* padding - define uma a distância entre o conteúdo de um elemento e suas bordas */
    text-align: center;
}


 /* caso tenha mais de uma img coloque a tag do lugar dps img
    ex:
    head img{}
        
    * Em caso de duas ou mais img/tag na mesma tag para esilizar adicione "classes=" no 
    HTML e quando voltar ao style coloque ".nomedaclasse" */


.menu{
    display: inline-flex;
}


.menu a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 90px;
    text-align: left;
}


.menu a:hover{
    text-decoration: none;
    color: blueviolet;
    background-color: rgb(255, 210, 217);
    text-align: center;
}
/* houver= passar o mouse em cima */


.vtc {
    line-height: 40px;
}


.titulo{
    font-size: 40px;
    color: darkcyan;
 }


.sumario {
    font-size: 40px;
    color: rgb(147, 147, 252);
    margin-left: 7%;
}

.apresentação {
    line-height: 30px;
}


 p{
    width: 50%;/* até onde da tela o texto chega */
    text-align: left;
    color:lightcyan;/*cor do p (parágrafo)*/
 }


ul li:hover{
    color: black;
}


ul{
    text-align: left;
    color:lightskyblue; /* cor do ul(lista)  */
}

.receita {
    color:darkslateblue;
    font-size: 30px;
}

.receita a{
    text-decoration:none;
    color: lightcoral;
}

.receita:hover{
    color:darkslateblue;
}


a{
    color:rgb(80, 24, 133);/* cor do a(link )*/
}


a:hover{
    color: blueviolet;
    /* font-size: 30px; */
}


.torta{
    background-color: lightgreen;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}


.torta li{
    font-size: 20px;
    color:white;
    line-height: 40px;
}

.torta p{
    text-align:center;
    color: green;
}

.torta p:hover{
    text-align:center;
    color: black;
}

.limão {
    height: 400px;
    float:right;
    display: inline-flex;
    border-radius: 40px;
    border-right: solid 5px greenyellow;
    margin-right: 10%;
    margin-top: 10%;
    margin-left: 70px;
}


.bolacha {
    height: 110px;
    float: right;
    display: inline-flex;
    border-radius: 10px;
    border-left: solid 5px goldenrod;
    margin-right: 3%;
    margin-top: 3%;
}

.alfajor{
    background-color:brown;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}


.alfajor li{
    color: white;
    font-size: 20px;
}

.alfajor p{
    text-align:center;
    color: bisque;
}

.alfajor p:hover{
    text-align:center;
    color: black;
}


.chocolate {
    float: right;
    display: inline-flex;
    margin-right: 27%;
    margin-top: 0px;
    height: 320px;
    border-right: solid 5px brown;
    border-radius: 20px;
}

.bolinho {
    background-color:burlywood;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}

.bolinho li{
    color: white;
    font-size: 20px;
}


.bolinho p{
    text-align:center;
    color: brown;
}

.bolinho p:hover{
    text-align:center;
    color: black;
}

.bolo {
    background-color:chocolate;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}

.bolo li{
    color: white;
    font-size: 20px;
}

.bolo p{
    text-align:center;
    color: burlywood;
}

.bolo p:hover{
    text-align:center;
    color: black;
}

.frango {
    background-color: goldenrod;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}

.frango li{
    color: white;
    font-size: 20px;
}

.frango p{
    text-align:center;
    color: lightgoldenrodyellow;
}

.frango p:hover{
    text-align:center;
    color: black;
}


.pizza {
    background-color: coral;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
}

.pizza li{
    color: white;
    font-size: 20px;
}

.pizza p{
    text-align:center;
    color: lightgoldenrodyellow;
}

.pizza p:hover{
    text-align:center;
    color: black;
}

footer{
    background-color: dimgray;
    border-radius: 20px;
    text-align: center;
}


.rodapé{
    float:center;
    display:inline-flex;
    height: 120px;
    margin-top: 7px;
    border-radius: 100%;
}


.carodape{
    font-size: 40px;
    text-align: top;
    color: lavenderblush;
}

.rod{
    color: pink;
    text-align: left;
    text-decoration: none;
}

.rod a {
    text-decoration: none;
    font-size: 25px;
}

.rod a:hover{
    color: cyan;
}


